body{
    font-family: PT Sans Narrow;  
    text-transform: uppercase;

    background-color: pink;
 
}
   .nav-link {
        opacity: 0.7;
    }
    
    .nav-link:hover {
        opacity: 1;
        background-color: green; 
    }
    
 .nav-item:hover{
     background-color:orange;
}

.button {
    background-color: #4CAF50; /* blue */
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

    
header {
    height: 600px;
    width: 100%;
    background-image: url ("images.jpeg");
    background-size: cover;
}

